.list-group-item {
	border: 0px;
}

.form-horizontal .control-label.left-align {
	text-align: left;
}

.error-text {
  display: none;
  color: red;
  font-weight: bold;
}

.invalid {
  border: 2px solid red;
}

.invalid-question {
  border: 2px solid red;
}

/* For application_status.html */

.timeline-box {
  background: rgba(67, 182, 177, 0.14);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.app-status-header {
  margin-top: 14px;
}

.app-status-subheader {
  margin-bottom: 0px;
}
